version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: soj-db
    restart: always
    env_file:
      - .env
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - db_data:/var/lib/postgresql/data  # DBデータの永続化用ボリュームを設定
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: soj-backend
    restart: always
    env_file:
      - .env
    volumes:
      # ホストのDockerソケットをマウント (DooD)
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Tokyo
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: soj-frontend
    restart: always
    ports:
      - "80:80"    # HTTP
      - "443:443"  # HTTPS
    volumes:
      - ./frontend/nginx/default.conf:/etc/nginx/conf.d/default.conf
      # ホスト側のSSL証明書のマウント
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

volumes:
  db_data: # DB永続化用ボリューム