.run-button {
  width: 30%;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 1rem auto;
  padding: 0.8rem;
  font-weight: bold;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 122, 204, 0.2);
}
.run-button:hover {
  background-color: #005999;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 122, 204, 0.3);
}

@media screen and (max-width: 999px) {
  .run-button {
    min-width: 200px;
    width: 50%;
    font-size: 0.8rem;
  }
}
