pre {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  width: 90%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;
  line-height: 1.5;
}

.code-block {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  border: 1px solid #666;
  border-radius: 0px;
  color: #666;
  background-color: #fff;
  font-size: 0.9rem;
}

.code-font {
  font-family:
    monospace, "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN",
    "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho",
    serif, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.text-block {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem;
  background-color: #eeeeee;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

textarea {
  font-family:
    monospace, "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN",
    "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho",
    serif, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1rem;
  max-width: 90%;
  width: 90%;
  color: #666;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

@media screen and (max-width: 999px) {
  .code-font {
    font-size: 0.9rem;
  }
}